@charset "UTF-8";
:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  min-width: 360px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: rgba(0, 0, 0, 0.85);
  overflow-x: hidden;
}

body > * {
  padding: 0 1rem;
}

main {
  overflow-y: hidden;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: "Arvo", serif;
  font-weight: bold;
  letter-spacing: 0.1ch;
}

a:not(.menu__options__option, .logo-header) {
  color: inherit;
  font-weight: bold;
}
a:not(.menu__options__option, .logo-header):hover, a:not(.menu__options__option, .logo-header):focus {
  color: #FF8C32;
}

b {
  font-weight: bold;
}

p {
  font-size: 1.05rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #212121;
  font-weight: bold;
  text-align: center;
}

.logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #EEEEEE;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.logo-header:hover {
  background-image: linear-gradient(to right, #FF8C32, #fad014);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.logo-header__img {
  background: url("../imgs/CarteadoLogo.webp") center/100% no-repeat;
  display: inline-block;
  height: 120px;
  margin-right: 1rem;
  min-width: 100px;
  text-align: center;
}
.logo-header__name {
  font-family: "Arvo", serif;
  font-size: 1.8rem;
  line-height: 150%;
  max-width: 240px;
  text-align: left;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  font-size: 1.3rem;
  height: 100%;
  padding: 0 0.5rem 0 0.5rem;
  text-transform: uppercase;
  width: 100%;
}

.menu__options {
  display: none;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;
}
.menu__options__option {
  border-bottom: 1px solid #EEEEEE;
  box-sizing: border-box;
  color: #EEEEEE;
  padding: 1rem 0.5rem;
  text-align: start;
  text-decoration: none;
  width: 100%;
}
.menu__options__option:first-child {
  border-top: 1px solid #EEEEEE;
}

.menu__socials-container {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  width: 100%;
}

.menu__button {
  justify-self: flex-start;
  background: none;
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  color: #EEEEEE;
  height: 2.5rem;
  width: 3.5rem;
}
.menu__button svg {
  filter: invert(100%) sepia(84%) saturate(228%) hue-rotate(208deg) brightness(118%) contrast(87%);
}

.menu__socials {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.menu__socials__social {
  filter: invert(100%) sepia(84%) saturate(228%) hue-rotate(208deg) brightness(118%) contrast(87%);
  height: 24px;
  transition: all 0.5s;
}
.menu__socials__social:hover {
  transform: translateY(-25%);
}

@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
    font-size: 1rem;
    justify-content: space-between;
    z-index: 1;
  }
  .logo-header {
    justify-content: flex-start;
    border: none;
    margin-right: 1rem;
    width: auto;
  }
  .menu {
    flex-direction: row;
    justify-content: space-around;
  }
  .menu__button {
    display: none;
  }
  .menu__socials-container {
    justify-content: flex-end;
    max-width: 25%;
  }
  .menu__socials-container .menu__socials {
    width: 100%;
  }
  .menu__options {
    display: flex;
    background: none;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    padding: 0;
  }
  .menu__options__option {
    border: none;
    padding: 0;
    white-space: nowrap;
    width: auto;
  }
  .menu__options__option:first-child {
    border-top: none;
  }
  .menu__options__option:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid #EEEEEE;
    padding: 0.5rem;
  }
}
.other-page:after {
  margin-left: 0.1rem;
  content: "↗";
}

.bg {
  display: flex;
  flex-direction: column;
  background-image: url("../imgs/cardsbg.webp");
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0.05;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: -1;
}

.main-images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-images a {
  margin-top: 0.5rem;
  flex-grow: 0;
  width: 100%;
}
.main-images a:hover {
  transform: scale(1.02, 1);
}
.main-images a img {
  aspect-ratio: 16/9;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
.main-images a img:hover, .main-images a img:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 1rem #FF8C32;
}

.section {
  color: #FFFFFF;
  height: auto;
  padding: 1rem 0;
  position: relative;
}

.section__title {
  color: #EEEEEE;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.section__cards {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}
.section__cards .section__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  border: 0.5px dashed #EEEEEE;
  border-radius: 8px;
  color: #EEEEEE;
  margin-top: 0.5rem;
  padding: 1rem 1rem;
}
.section__cards .section__card:first-child {
  margin-top: 0;
}
.section__cards .section__card__title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.section__cards .section__card__text {
  align-self: flex-start;
  line-height: 150%;
  margin-top: 0.5rem;
}
.section__cards .section__card img {
  aspect-ratio: 16/9;
  margin: 1rem auto 0 auto;
  max-height: 100px;
  width: 100%;
}

.contact__content .section__card {
  width: 100%;
}

.contact__img {
  height: 100%;
  margin: 0.5rem 0;
  padding: 0;
  width: 100%;
}
.contact__img img {
  aspect-ratio: 16/9;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.contact__socials {
  align-self: flex-start;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 200%;
  margin-top: 0.5rem;
}
.contact__socials__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.contact__socials__container .contact__socials__img {
  flex-shrink: 0;
  margin: 0 0.5rem 0 0;
  max-height: 1.5rem;
  max-width: 1.5rem;
}

@media screen and (min-width: 800px) {
  .main-images a {
    margin: 1rem 0;
    max-width: 45%;
  }
  .section {
    border-top: 0.5px dashed #EEEEEE;
  }
  .section__cards {
    flex-direction: row;
    justify-content: space-between;
  }
  .section__cards .section__card {
    border: none;
    max-width: calc(33% - 4rem);
    margin-top: 0;
  }
  .contact__content {
    align-items: flex-start;
  }
  .contact__content .section__card {
    border: none;
    max-width: calc(50% - 0.5rem);
    padding: 0;
  }
  .contact__img {
    margin: 0;
    max-width: 50%;
  }
  .contact__img:hover {
    border: none;
    outline: none;
    transform: scale(1.02, 1);
  }
  .contact__img img {
    border-radius: 8px;
  }
  .contact__img img:hover {
    box-shadow: 0 0 0.5rem #FF8C32;
  }
}
.footer {
  display: flex;
  align-items: center;
  background-color: #212121;
  color: #EEEEEE;
  padding: 1rem;
}
.footer__logo {
  background: url("../imgs/CarteadoLogo2.webp") center/100% no-repeat;
  height: 120px;
  margin-right: 1rem;
  min-width: 100px;
  text-align: center;
}
.footer .footer__disclaimers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .footer__disclaimers .footer__disclaimer {
  font-size: 0.975rem;
  margin-bottom: 1rem;
}
.footer .footer__disclaimers .footer__disclaimer:last-child {
  margin: 0;
}
.footer .footer__disclaimers #copyright::before {
  content: "Ⓒ";
  margin-right: 0.1rem;
}/*# sourceMappingURL=style.css.map */