
@media screen and (min-width: 1024px) {

    .header {
        flex-direction: row;
        font-size: 1rem;
        justify-content: space-between;
        z-index: 1;
    }

    .logo-header {
        justify-content: flex-start;
        border: none;
        margin-right: 1rem;
        width: auto;
    }

    .menu {
        flex-direction: row;
        justify-content: space-around;
    }

    .menu__button {
        display: none;
    }

    .menu__socials-container {
        justify-content: flex-end;
        max-width: 25%;

        .menu__socials {
            width: 100%;
        }
    }

    .menu__options {
        display: flex;
        background: none;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-around;
        padding: 0;

        &__option {
            border: none;
            padding: 0;
            white-space: nowrap;
            width: auto;

            &:first-child {
                border-top: none;
            }

            &:hover {
                background-color: rgba(256, 256, 256, 0.1);
                border-bottom: 2px solid $color1;
                padding: 0.5rem;
            }
        }
    }
}

.other-page:after {
    margin-left: 0.1rem;
    content: '\2197';
}