@import 'variables';

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-width: 360px;
}

body {
    position: relative;
    background-color: rgba(0, 0, 0, 0.85);
    overflow-x: hidden;
}

main {
    overflow-y: hidden;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-family: 'Arvo', serif;
    font-weight: bold;
    letter-spacing: 0.1ch;
}

a {
    color: inherit;
    &:hover, &:focus {
        color: $color4;
    }
}

b {
    font-weight: bold;
}