@import '../abstract/variables';

.bg {
    display: flex;
    flex-direction: column;
    background-image: url('../imgs/cardsbg.webp');
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0.05;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -1; 
}

.main-images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    a {
        margin-top: 0.5rem;
        flex-grow: 0;
        width: 100%;

        &:hover {
            transform: scale(1.02, 1);
        }

        img {
            aspect-ratio: 16/9;
            border-radius: 8px;
            height: 100%;
            width: 100%;

            &:hover,
            &:focus {
                border: none;
                outline: none;
                box-shadow: 0 0 1rem $color4;
            }
        }
    }

}

.section {
    color: $color5;
    height: auto;
    padding: 1rem 0;
    position: relative;

}


.section__title {
    color: $color1;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}


.section__cards {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;
    width: 100%;

    .section__card {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start;
        border: 0.5px dashed $color1;
        border-radius: 8px;
        color: $color1;
        padding: 1rem 1rem;

        &:first-child {
            margin-top: 0;
        }


        &__title {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            text-align: center;
        }

        &__text {
            align-self: flex-start;
            line-height: 150%;
            margin-top: 0.5rem;
        }

        img {
            aspect-ratio: 16/9;
            margin: 1rem auto 0 auto;
            max-height: 100px;
            width: 100%;
        }

    }

}

// contact 

.contact__content {

    .section__card {
        width: 100%;
    }
}

.contact__img {

    height: 100%;
    margin: 0.5rem 0;
    padding: 0;
    width: 100%;

    img {
        aspect-ratio: 16/9;
        border-radius: 8px;
        height: 100%;
        width: 100%;
    }

}

.contact__socials {
    align-self: flex-start;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 200%;
    margin-top: 0.5rem;

    &__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;

        .contact__socials__img {
            flex-shrink: 0;
            margin: 0 0.5rem 0 0;
            max-height: 1.5rem;
            max-width: 1.5rem;
        }
    }
}


@import '../views/content'